profiles {

standard {
  aws {

    //Access key and Secret Key are configured into pre-run scripts
    //accessKey = 'f12****'
    //secretKey = '0c7****'

    client {
      s3PathStyleAccess = true
      protocol = 'HTTPS'
      connectionTimeout = '2000'
      //endpoint = 'https://openstack.cebitec.uni-bielefeld.de:8080'
      //signerOverride = 'AWSS3V4SignerType'
      endpoint  = 'https://lroue8qm7xvd.compat.objectstorage.uk-london-1.oraclecloud.com/'
    }
  }
}
}
